{
  "openapi": "3.1.0",
  "info": {
    "title": "Rhythmeta backend API",
    "description": "Auto-generated API specification from registered Hono routes and TypeScript route-source analysis. Schemas are inferred from actual handler input/output types.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.rhythmeta.org",
      "description": "Current backend server"
    }
  ],
  "tags": [
    {
      "name": "auth"
    },
    {
      "name": "chunithmd"
    },
    {
      "name": "health"
    },
    {
      "name": "maimaid"
    },
    {
      "name": "system"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "get_health",
        "tags": [
          "system"
        ],
        "summary": "GET /health",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/health/database": {
      "get": {
        "operationId": "get_health_database",
        "tags": [
          "health"
        ],
        "summary": "GET /health/database",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/register:start": {
      "post": {
        "operationId": "post_auth_v1_register_start",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/register:start",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/register:finish": {
      "post": {
        "operationId": "post_auth_v1_register_finish",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/register:finish",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {},
                    "verificationEmailSent": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/login": {
      "post": {
        "operationId": "post_auth_v1_login",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/login",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challengeToken": {},
                    "methods": {},
                    "mfaRequired": {},
                    "tokens": {},
                    "user": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/login:start": {
      "post": {
        "operationId": "post_auth_v1_login_start",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/login:start",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/login:finish": {
      "post": {
        "operationId": "post_auth_v1_login_finish",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/login:finish",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challengeToken": {},
                    "methods": {},
                    "mfaRequired": {},
                    "tokens": {},
                    "user": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/refresh": {
      "post": {
        "operationId": "post_auth_v1_refresh",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/refresh",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokens": {},
                    "user": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/session:exchange": {
      "post": {
        "operationId": "post_auth_v1_session_exchange",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/session:exchange",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokens": {},
                    "user": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/session:create": {
      "post": {
        "operationId": "post_auth_v1_session_create",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/session:create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionCode": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/logout": {
      "post": {
        "operationId": "post_auth_v1_logout",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/logout",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/password:enrollOpaque:start": {
      "post": {
        "operationId": "post_auth_v1_password_enrollOpaque_start",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/password:enrollOpaque:start",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/password:enrollOpaque:finish": {
      "post": {
        "operationId": "post_auth_v1_password_enrollOpaque_finish",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/password:enrollOpaque:finish",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/verification:resend": {
      "post": {
        "operationId": "post_auth_v1_verification_resend",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/verification:resend",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/verify-email": {
      "get": {
        "operationId": "get_auth_v1_verify_email",
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/v1/verify-email",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/password-reset": {
      "get": {
        "operationId": "get_auth_v1_password_reset",
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/v1/password-reset",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/forgot-password": {
      "post": {
        "operationId": "post_auth_v1_forgot_password",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/forgot-password",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {},
                    "success": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/reset-password:start": {
      "post": {
        "operationId": "post_auth_v1_reset_password_start",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/reset-password:start",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/reset-password:finish": {
      "post": {
        "operationId": "post_auth_v1_reset_password_finish",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/reset-password:finish",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/reset-password": {
      "post": {
        "operationId": "post_auth_v1_reset_password",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/reset-password",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/status": {
      "get": {
        "operationId": "get_auth_v1_mfa_status",
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/v1/mfa/status",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/totp:startSetup": {
      "post": {
        "operationId": "post_auth_v1_mfa_totp_startSetup",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/mfa/totp:startSetup",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/totp:confirmSetup": {
      "post": {
        "operationId": "post_auth_v1_mfa_totp_confirmSetup",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/mfa/totp:confirmSetup",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/totp:disable": {
      "post": {
        "operationId": "post_auth_v1_mfa_totp_disable",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/mfa/totp:disable",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/passkeys:startRegistration": {
      "post": {
        "operationId": "post_auth_v1_mfa_passkeys_startRegistration",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/mfa/passkeys:startRegistration",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/passkeys:finishRegistration": {
      "post": {
        "operationId": "post_auth_v1_mfa_passkeys_finishRegistration",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/mfa/passkeys:finishRegistration",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/backup-codes": {
      "get": {
        "operationId": "get_auth_v1_mfa_backup_codes",
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/v1/mfa/backup-codes",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/backup-codes:regenerate": {
      "post": {
        "operationId": "post_auth_v1_mfa_backup_codes_regenerate",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/mfa/backup-codes:regenerate",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/passkeys": {
      "get": {
        "operationId": "get_auth_v1_mfa_passkeys",
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/v1/mfa/passkeys",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/passkey/{credentialId}": {
      "patch": {
        "operationId": "patch_auth_v1_mfa_passkey_credentialId",
        "tags": [
          "auth"
        ],
        "summary": "PATCH /auth/v1/mfa/passkey/{credentialId}",
        "parameters": [
          {
            "name": "credentialId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_auth_v1_mfa_passkey_credentialId",
        "tags": [
          "auth"
        ],
        "summary": "DELETE /auth/v1/mfa/passkey/{credentialId}",
        "parameters": [
          {
            "name": "credentialId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/challenges:startPasskeyLogin": {
      "post": {
        "operationId": "post_auth_v1_mfa_challenges_startPasskeyLogin",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/mfa/challenges:startPasskeyLogin",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/challenges:verifyTotp": {
      "post": {
        "operationId": "post_auth_v1_mfa_challenges_verifyTotp",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/mfa/challenges:verifyTotp",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mfaRequired": {},
                    "tokens": {},
                    "user": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/challenges:verifyBackupCode": {
      "post": {
        "operationId": "post_auth_v1_mfa_challenges_verifyBackupCode",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/mfa/challenges:verifyBackupCode",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mfaRequired": {},
                    "tokens": {},
                    "user": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/mfa/challenges:verifyPasskey": {
      "post": {
        "operationId": "post_auth_v1_mfa_challenges_verifyPasskey",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/mfa/challenges:verifyPasskey",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mfaRequired": {},
                    "tokens": {},
                    "user": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/passkeys:startLogin": {
      "post": {
        "operationId": "post_auth_v1_passkeys_startLogin",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/passkeys:startLogin",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/passkeys:finishLogin": {
      "post": {
        "operationId": "post_auth_v1_passkeys_finishLogin",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/passkeys:finishLogin",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mfaRequired": {},
                    "tokens": {},
                    "user": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/me": {
      "get": {
        "operationId": "get_auth_v1_me",
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/v1/me",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patch_auth_v1_me",
        "tags": [
          "auth"
        ],
        "summary": "PATCH /auth/v1/me",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/admin/context": {
      "get": {
        "operationId": "get_auth_v1_admin_context",
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/v1/admin/context",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {},
                    "isAdmin": {},
                    "userId": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/admin/users": {
      "get": {
        "operationId": "get_auth_v1_admin_users",
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/v1/admin/users",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/admin/users:start": {
      "post": {
        "operationId": "post_auth_v1_admin_users_start",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/admin/users:start",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/admin/users:finish": {
      "post": {
        "operationId": "post_auth_v1_admin_users_finish",
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/v1/admin/users:finish",
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/admin/users/{userId}": {
      "delete": {
        "operationId": "delete_auth_v1_admin_users_userId",
        "tags": [
          "auth"
        ],
        "summary": "DELETE /auth/v1/admin/users/{userId}",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/community/candidates": {
      "post": {
        "operationId": "post_maimaid_v1_community_candidates",
        "tags": [
          "maimaid"
        ],
        "summary": "POST /maimaid/v1/community/candidates",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/community/candidates:votingBoard": {
      "get": {
        "operationId": "get_maimaid_v1_community_candidates_votingBoard",
        "tags": [
          "maimaid"
        ],
        "summary": "GET /maimaid/v1/community/candidates:votingBoard",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/community/candidates:my": {
      "get": {
        "operationId": "get_maimaid_v1_community_candidates_my",
        "tags": [
          "maimaid"
        ],
        "summary": "GET /maimaid/v1/community/candidates:my",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/community/candidates:dailyCount": {
      "get": {
        "operationId": "get_maimaid_v1_community_candidates_dailyCount",
        "tags": [
          "maimaid"
        ],
        "summary": "GET /maimaid/v1/community/candidates:dailyCount",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/community/candidates/{candidateId}:vote": {
      "post": {
        "operationId": "post_maimaid_v1_community_candidates_candidateId_vote",
        "tags": [
          "maimaid"
        ],
        "summary": "POST /maimaid/v1/community/candidates/{candidateId}:vote",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/community/aliases:sync": {
      "get": {
        "operationId": "get_maimaid_v1_community_aliases_sync",
        "tags": [
          "maimaid"
        ],
        "summary": "GET /maimaid/v1/community/aliases:sync",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "complete": {},
                    "rows": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/admin/dashboard": {
      "get": {
        "operationId": "get_maimaid_v1_admin_dashboard",
        "tags": [
          "maimaid"
        ],
        "summary": "GET /maimaid/v1/admin/dashboard",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/admin/candidates": {
      "get": {
        "operationId": "get_maimaid_v1_admin_candidates",
        "tags": [
          "maimaid"
        ],
        "summary": "GET /maimaid/v1/admin/candidates",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_maimaid_v1_admin_candidates",
        "tags": [
          "maimaid"
        ],
        "summary": "POST /maimaid/v1/admin/candidates",
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidate": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/admin/candidates/{candidateId}:setStatus": {
      "post": {
        "operationId": "post_maimaid_v1_admin_candidates_candidateId_setStatus",
        "tags": [
          "maimaid"
        ],
        "summary": "POST /maimaid/v1/admin/candidates/{candidateId}:setStatus",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidate": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/admin/candidates/{candidateId}:updateVoteWindow": {
      "post": {
        "operationId": "post_maimaid_v1_admin_candidates_candidateId_updateVoteWindow",
        "tags": [
          "maimaid"
        ],
        "summary": "POST /maimaid/v1/admin/candidates/{candidateId}:updateVoteWindow",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidate": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/admin:rollCycle": {
      "post": {
        "operationId": "post_maimaid_v1_admin_rollCycle",
        "tags": [
          "maimaid"
        ],
        "summary": "POST /maimaid/v1/admin:rollCycle",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/backups": {
      "get": {
        "operationId": "get_maimaid_v1_backups",
        "tags": [
          "maimaid"
        ],
        "summary": "GET /maimaid/v1/backups",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_maimaid_v1_backups",
        "tags": [
          "maimaid"
        ],
        "summary": "POST /maimaid/v1/backups",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/backups/{id}/commit": {
      "post": {
        "operationId": "post_maimaid_v1_backups_id_commit",
        "tags": [
          "maimaid"
        ],
        "summary": "POST /maimaid/v1/backups/{id}/commit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/maimaid/v1/backups/{id}": {
      "delete": {
        "operationId": "delete_maimaid_v1_backups_id",
        "tags": [
          "maimaid"
        ],
        "summary": "DELETE /maimaid/v1/backups/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/community/candidates": {
      "post": {
        "operationId": "post_chunithmd_v1_community_candidates",
        "tags": [
          "chunithmd"
        ],
        "summary": "POST /chunithmd/v1/community/candidates",
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/community/candidates:votingBoard": {
      "get": {
        "operationId": "get_chunithmd_v1_community_candidates_votingBoard",
        "tags": [
          "chunithmd"
        ],
        "summary": "GET /chunithmd/v1/community/candidates:votingBoard",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/community/candidates:my": {
      "get": {
        "operationId": "get_chunithmd_v1_community_candidates_my",
        "tags": [
          "chunithmd"
        ],
        "summary": "GET /chunithmd/v1/community/candidates:my",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/community/candidates:dailyCount": {
      "get": {
        "operationId": "get_chunithmd_v1_community_candidates_dailyCount",
        "tags": [
          "chunithmd"
        ],
        "summary": "GET /chunithmd/v1/community/candidates:dailyCount",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/community/candidates/{candidateId}:vote": {
      "post": {
        "operationId": "post_chunithmd_v1_community_candidates_candidateId_vote",
        "tags": [
          "chunithmd"
        ],
        "summary": "POST /chunithmd/v1/community/candidates/{candidateId}:vote",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/community/aliases:sync": {
      "get": {
        "operationId": "get_chunithmd_v1_community_aliases_sync",
        "tags": [
          "chunithmd"
        ],
        "summary": "GET /chunithmd/v1/community/aliases:sync",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "complete": {},
                    "rows": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/admin/dashboard": {
      "get": {
        "operationId": "get_chunithmd_v1_admin_dashboard",
        "tags": [
          "chunithmd"
        ],
        "summary": "GET /chunithmd/v1/admin/dashboard",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/admin/candidates": {
      "get": {
        "operationId": "get_chunithmd_v1_admin_candidates",
        "tags": [
          "chunithmd"
        ],
        "summary": "GET /chunithmd/v1/admin/candidates",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_chunithmd_v1_admin_candidates",
        "tags": [
          "chunithmd"
        ],
        "summary": "POST /chunithmd/v1/admin/candidates",
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidate": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {},
                    "message": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/admin/candidates/{candidateId}:setStatus": {
      "post": {
        "operationId": "post_chunithmd_v1_admin_candidates_candidateId_setStatus",
        "tags": [
          "chunithmd"
        ],
        "summary": "POST /chunithmd/v1/admin/candidates/{candidateId}:setStatus",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidate": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/admin/candidates/{candidateId}:updateVoteWindow": {
      "post": {
        "operationId": "post_chunithmd_v1_admin_candidates_candidateId_updateVoteWindow",
        "tags": [
          "chunithmd"
        ],
        "summary": "POST /chunithmd/v1/admin/candidates/{candidateId}:updateVoteWindow",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidate": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/admin:rollCycle": {
      "post": {
        "operationId": "post_chunithmd_v1_admin_rollCycle",
        "tags": [
          "chunithmd"
        ],
        "summary": "POST /chunithmd/v1/admin:rollCycle",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/backups": {
      "get": {
        "operationId": "get_chunithmd_v1_backups",
        "tags": [
          "chunithmd"
        ],
        "summary": "GET /chunithmd/v1/backups",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_chunithmd_v1_backups",
        "tags": [
          "chunithmd"
        ],
        "summary": "POST /chunithmd/v1/backups",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/backups/{id}/commit": {
      "post": {
        "operationId": "post_chunithmd_v1_backups_id_commit",
        "tags": [
          "chunithmd"
        ],
        "summary": "POST /chunithmd/v1/backups/{id}/commit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/chunithmd/v1/backups/{id}": {
      "delete": {
        "operationId": "delete_chunithmd_v1_backups_id",
        "tags": [
          "chunithmd"
        ],
        "summary": "DELETE /chunithmd/v1/backups/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
[...]
